body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  color: #333;
}

h1 {
  color: #444;
}

form,
.schedule {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  background-color: #5c6bc0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #7986cb;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

.schedule h2 {
  color: #5c6bc0;
}

.schedule p {
  background-color: #e8eaf6;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
