/* ====== Grundläggande stilar ====== */

/* Stilar för hela sidan */
html, body {
    font-family: 'Josefin Sans', sans-serif; /* Använd den importerade Google-fonten */
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* ====== Huvudrubrik ====== */

/* Stilar för huvudrubriken */ 
.header {

}

/* Stilar för huvudrubriken */
.bildlogo {
    display: flex;
    flex-direction: column; /* Ställ in flexriktningen till kolumn för att placera elementen vertikalt */
    align-items: center; /* Centrera innehållet horisontellt */
    justify-content: flex-start; /* Justera innehållet längs starten av huvudaxeln (övre delen av sidan) */
    background-color: #ffffff; /* Bakgrundsfärg för header-elementet */

}

.bildlogo img {
    max-width: 1300px; /* Säkerställ att bilden inte blir bredare än dess förälderselement */
    height: auto; /* Bibehåll bildens proportioner */
    display: block; /* Gör bilden till ett blockelement för att kunna använda margin: 0 auto; för att centrera */
    margin: 0 auto; /* Centrera bilden horisontellt */
    animation: fadeIn 3s; 
    width: 100%; /* Ändra bredden på huvudinnehållet till 100% för mindre skärmar */

    
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* ====== Sidomeny ====== */

/* Stilar för sidomenyn */
    .sidebar {
        position: fixed; /* Gör sidomenyn fixerad så den alltid är synlig på skärmen */
        display: flex;
        flex-direction: row;
        top: 0; /* Placera sidomenyn längst upp på skärmen */
        width: 100%; /* Ange full bredd för sidomenyn */
        height: 50px; /* Gör sidomenyn lika hög som fönstret */
        background-color: #333; /* Ange bakgrundsfärg för sidomenyn */
        padding-top: 10px; /* Lägg till lite utrymme överst för att undvika att den överlappar sidhuvudet */
        justify-content: center; /* Centrera innehållet horisontellt */
        align-items: center; /* Centrera innehållet vertikalt */
        text-align: center; /* Centrera texten horisontellt */
}

/* ====== Knappar ====== */


/* Stilar för stängikon */
.UnderTitle {
    font-size: 4em;
    justify-content: center;
    text-align: center;
}


/* ====== Länkar ====== */

/* Stilar för länkar i sidomenyn */
.sidebar h3 {
    color: #fff; /* Vit färg för länkarna */
    margin: 10px 0; /* Lägg till lite mellanrum mellan varje länk */
    padding: 10px; /* Lägg till padding för att öka klickbarheten */
    text-align: center; /* Centrera texten horisontellt */
    cursor: pointer; /* Visar pekaren när användaren hovrar över länkarna */
}

/* Stilar för länkar i sidomenyn när de är markerade */
.sidebar h3:hover {
    background-color: #555; /* Ändra bakgrundsfärgen när användaren hovrar över länkarna */
}


/* ====== Innehåll i sidomenyn ====== */

/* Stilar för innehållet i sidomenyn */
.sidebar-content {
    margin-top: 60px; /* Justera innehållets position för att undvika att det överlappar headern */
    padding: 10px; /* Lägg till lite utrymme runt innehållet */
}

/* ====== Bildspel ====== */


.main-content {
    max-width: 1200px; /* Ange en maximal bredd för elementet för att förhindra att det blir för stort */
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center; /* Placera innehållet till höger */
    text-align: center;
    
}

.bilder {
    display: flex;
}

.text {
    flex: 1;
    order: 2; /* Ändra ordning på elementet till andra platsen */

}

.bilder img {
    margin-bottom: 10px; /* Lägg till lite utrymme mellan bilderna */
    border-radius: 18px;
}



.container {
    margin: auto;
    max-width: 800px;
}
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;

    body {
        font-size: 0.4em; /* Minska textstorleken till 80% av dess ursprungliga storlek */
    }

  }

  
  @media only screen and (min-width: 200px){

    body {
        font-size: 0.8em;

    }
  }

  .UnderTitle {
    font-size: 2em;
  }
  
  .sidebar {
    display: none;
  }

  .text {
    order: 2;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 260px;


  }

.bilder {

    flex-direction: column;
    flex-wrap: wrap;
}
.bilder img {
    max-width: 100px;
    vertical-align: auto;
}

@media only screen and (min-width: 400px){
    body {
        font-size: 0.6em; /* Minska textstorleken till 80% av dess ursprungliga storlek */

    }

    .container {
        margin: auto;
        max-width: 800px;
        font-size: 1.7em;
    }
    .sidebar {
        display: none;
    }


    .main-content {
        text-align: center;

        min-width: 300px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .text {
        order: 2; /* Ändra ordning på texten till första platsen för mindre skärmar */
        font-size: 1.2em;

    }

    .bilder {
        order: 1; /* Ändra ordning på bilderna till andra platsen för mindre skärmar */
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; /* Centrera innehållet horisontellt */
        align-items: center; /* Centrera innehållet vertikalt */
        text-align: center; /* Centrera texten horisontellt */
    }

    .bilder img {
        max-width: 200px; /* Ändra bildernas maximala bredd till 100% för mindre skärmar */
        padding: 10px; /* Lägg till mindre padding för mindre skärmar */
    }

    .bilder img:hover {
        transition: transform .3s; /* Animation */
        transform:scale(1.2);
    }
        }

    .dropbtn {
            background-color: #333;
            color: white;
            padding: 16px;
            font-size: 2em;
            border: none;
            cursor: pointer;
            top: 0; /* Placera sidomenyn längst upp på skärmen */

          }
    .dropbtn {
            div {
                width: 35px;
                height: 5px;
                background-color: white;
                margin: 6px 0;
              }
        }
          
    .dropdown {
            position:absolute;
            top: 0; /* Placera sidomenyn längst upp på skärmen */

            display: inline-block;
          }
          
    .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            font-size: 3em;
          }
          
    .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          
    .dropdown-content a:hover {background-color: #f1f1f1}
          
    .dropdown:hover .dropdown-content {
            display: block;
          }
          
            dropdown:hover .dropbtn {
            background-color: #333;
          }


@media only screen and (min-width: 800px){
    body {
        font-size: 0.8em; /* Minska textstorleken till 80% av dess ursprungliga storlek */

    }
    .bilder img {
        max-width: 300px; /* Ändra bildernas maximala bredd till 100% för mindre skärmar */
        padding: 10px; /* Lägg till mindre padding för mindre skärmar */

    }
    .sidebar {
        display: flex;
    }
    .main-content {
        margin: 0; /* Ta bort marginaler för mindre skärmar */


    }

    .text {
        order: 2; /* Ändra ordning på texten till första platsen för mindre skärmar */
        max-width: 800px;
    }

    .bilder {
        order: 1; /* Ändra ordning på bilderna till andra platsen för mindre skärmar */
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; /* Centrera innehållet horisontellt */
        align-items: center; /* Centrera innehållet vertikalt */
        text-align: center; /* Centrera texten horisontellt */

    }
    .bilder img:hover {
        transition: transform .4s; /* Animation */

        transform:scale(1.1);
    }


    .dropbtn {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 1em; /* Minska textstorleken till 80% av dess ursprungliga storlek */

    }
    .bilder img {
        max-width: 500px; /* Ändra bildernas maximala bredd till 100% för mindre skärmar */
        padding: 10px; /* Lägg till mindre padding för mindre skärmar */

    }

    .main-content {
        margin: 0; /* Ta bort marginaler för mindre skärmar */
        justify-content: center;
    }

    .text {

        padding-left: 20px; /* Ta bort vänster padding för texten på mindre skärmar */
        order: 2; /* Ändra ordning på texten till första platsen för mindre skärmar */
    }

    .bilder {
        order: 1; /* Ändra ordning på bilderna till andra platsen för mindre skärmar */
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center; /* Centrera innehållet horisontellt */
        align-items: center; /* Centrera innehållet vertikalt */
        text-align: center; /* Centrera texten horisontellt */

    }


}
