/* Grundläggande stilar */
html, body {
    font-family: 'Josefin Sans', sans-serif; /* Använd den importerade Google-fonten */
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1em;
    background-color: #f1f1f1;
    
}
/* Navigation */
.navbar {
    position: fixed; /* Gör sidomenyn fixerad så den alltid är synlig på skärmen */
    display: flex; /* Använd flexbox för att skapa en horisontell layout */
    justify-content: center; /* Centrera länkarna horisontellt */
    top: 0; /* Placera sidomenyn längst upp på skärmen */
    width: 100%; /* Ange full bredd för sidomenyn */
    height: 60px; /* Gör sidomenyn lika hög som fönstret */
    background-color: #333; /* Ange bakgrundsfärg för sidomenyn */
    align-items: center; /* Centrera innehållet vertikalt */
    text-align: center; /* Centrera texten horisontellt */
    text-decoration: none;
}
/* ====== Länkar ====== */

/* Stilar för länkar i sidomenyn */
.navbar li {
    color: #fff; /* Vit färg för länkarna */
    margin: 0 10px; /* Lägg till lite mellanrum mellan varje länk */
    padding: 10px; /* Lägg till padding för att öka klickbarheten */
    text-align: center; /* Centrera texten horisontellt */
    cursor: pointer; /* Visar pekaren när användaren hovrar över länkarna */
    list-style: none;
}

/* Stilar för länkar i sidomenyn när de är markerade */
.navbar li:hover {
    background-color: #555; /* Ändra bakgrundsfärgen när användaren hovrar över länkarna */
}

/* Stilar för länkar */
a {
    color: white; /* Ange färgen för vanliga länkar */
    text-decoration: none; /* Ta bort understreck på länkar */
}

/* Stilar för besökta länkar */
a:visited {
    color: white; /* Ange färgen för besökta länkar */
    text-decoration: none; /* Ta bort understreck på besökta länkar */
}

/* Stilar för länkar när musen är över dem */
a:hover {
    color: grey; /* Ange färgen för länkar när musen är över dem */
}

/* Stilar för aktiva länkar */
a:active {
    color: seashell; /* Ange färgen för aktiva länkar */
}

/* Drop Down Button */
.dropbtn {
    border-radius: 100px;
    background-color: #515151;
    color: white;
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
}

.dropbtn div {
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 6px 0;

}

/* Dropdown container */
.dropdown {
    position: fixed; /* Ändra positionen till fixed för att hålla den längst upp på sidan */
    top: 10px; /* Placera dropdown längst upp på sidan */
    left: 10px; /* Justera vid behov */
    display: inline-block;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px; /* Anpassa bredden efter behov */
    box-shadow: 0px 8px 16px 0px rgba(118, 118, 118, 0.2);
    z-index: 1;
    font-size: 1em; /* Anpassa textstorlek efter behov */
}

/* Dropdown links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Hover state for dropdown links */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show dropdown content when hovering over dropdown container */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change background color of dropdown button on hover */
.dropdown:hover .dropbtn {
    background-color: #333;
}
/*=========================================*/
/*============= INDEX NEDANFÖR ===========*/
/*=========================================*/

/* Logo container */
.logo-container {
    display: flex;
    flex-direction: column; /* Ställ in flexriktningen till kolumn för att placera elementen vertikalt */
    align-items: center; /* Centrera innehållet horisontellt */
    justify-content: flex-start; /* Justera innehållet längs starten av huvudaxeln (övre delen av sidan) */
    background-color: #f1f1f1; /* Bakgrundsfärg för header-elementet */
}
.logo-container img {
    max-width: 1300px; /* Säkerställ att bilden inte blir bredare än dess förälderselement */
    height: auto; /* Bibehåll bildens proportioner */
    display: flex; /* Gör bilden till ett blockelement för att kunna använda margin: 0 auto; för att centrera */
    animation: fadeIn 3s; /* Lägg till en inzoomningsanimation */
    width: 100%; /* Ändra bredden på huvudinnehållet till 100% för mindre skärmar */
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.UnderTitle {
    font-size: 3em;
    text-align: center;
}
.welcome-text{
    text-align: center;
    padding-bottom: 100px; /* Justera detta värde efter behov */

}

.TextOchBilder {
    display: flex;
}
.tjanster {
    display: flex;
    flex-direction: column;
    float: left;
}

.tjanster h3 {
    font-size: 1.2em;
    padding-left: 3%;
}
.tjanster h4 {
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 5%;
}
.tjanster p {
    padding-left: 5%;
    margin-bottom: 5px;
    border-bottom: solid 1px #b3b3b3;
    padding-bottom: 25px; /* Justera detta värde efter behov */
}

.tjanster p:last-child {
    border-bottom: 0px;
}

.bilder {

}

    /*=========================================*/
    /*============= OM OSS NEDANFÖR ===========*/
    /*=========================================*/


/* Om oss sektion */
/* Vilka vi är presentation */
.about-us-section  {
    max-width: 600px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 0 20px;
}

.about-us-section h2 {
    padding-top: 80px;
    color: #333;
    line-height: 1.6;
}

.about-us-section h1 {

    line-height: 1.6;

}

.textCarl, .textAnn li {
    text-align: left;
    list-style-position: inside;
}

/* Teammedlemmar */
.team-member {
}

/* Ann */
.Ann {
    /* Lägg till specifika stildefinitioner för Ann */
}

/* Carl */
.Carl {
    /* Lägg till specifika stildefinitioner för Carl */
}

/* Lina */
.Lina {
    /* Lägg till specifika stildefinitioner för Lina */
}

/* Måns */
.Måns {
    /* Lägg till specifika stildefinitioner för Måns */
}

/* Övriga element */
#NamnBildAnn, #NamnBildCarl, #NamnBildLina, #NamnBildMans #NamnBildMonday {
    font-size: 24px; /* Justera textstorlek för namn */
    margin-bottom: 10px; /* Justera avstånd mellan namn och andra element */
}

#pfpAnn, #pfpCarl, #pfpLina, #pfpMans, #pfpMonday {
    border-radius: 50%; /* Runda av profilbilderna */
    width: 150px; /* Justera storlek på profilbilderna */
    height: 150px;
    object-fit: cover; /* Säkerställ att bilden fyller ut cirkeln */
    margin-bottom: 10px; /* Justera avstånd mellan profilbilder */
}
#pfpMonday  {
    object-position: 50% 30% ;
}
#textAnn, #textCarl {
    line-height: 1.2;

}

/* Carl hemsida */
.lankknapp {
    padding: 0.8em 1.8em;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #ffffff;
    background-color: hsl(0, 0%, 32%);
    border: none;
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    
}

.lankknapp:hover {
    background-color: #919191;
    box-shadow: 0px 10px 30px rgba(65, 65, 65, 0.6);
    color: #fff;
    transform: translateY(-7px);
}

.lankknappDIV {
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.contact-form {
    display: none;
}

/* Övriga id-n */

.kontakta-oss {
    font-size: 1em;
    color: black;

}
.vilkaViÄrPresentation h2 {
    padding-top: 80px;
    color: #333;
    line-height: 1.6;
}

.individuellKontakt {
    margin-bottom: 20px;
}

.individuellKontakt a {
    color: black;
}

    /*=========================================*/
    /*====== UNDER KONSTRUKTION NEDANFÖR ======*/
    /*=========================================*/

.hela-under-konstruktion {
    display: flex;
    justify-content: center;
}
.under-konstruktion {
    margin-top: 300px;
}
.under-konstruktion h1 {
text-align: center;
line-height: 1.2;
}

#uppbyggnad-lank {
    color: black;
}
#uppbyggnad-lank:hover {
color: grey;
}
@media (max-width:400px) {
    /*=========================================*/
    /*============= ALLMÄNT NEDANFÖR ==========*/
    /*=========================================*/

    .navbar {
        display: none;
    }
    
    /*=========================================*/
    /*============= INDEX NEDANFÖR ===========*/
    /*=========================================*/
    .UnderTitle {
        font-size: 2em;
    }
    .welcome-text{
        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 50px; /* Justera detta värde efter behov */

    }

    .TextOchBilder {
        display: block;
    }
    .tjanster {
        font-size: 1.2em;
        margin-right: 15%;
        margin-left: 15%;
    }
    
    .bilder{
        display: block;
        margin-right: auto;
        margin-left: 10%;
    }
    
    
    .bilder img {
        width: 80%;
        padding: 5px;
        max-width: 200px;
        border-radius: 12px;
    }
    /*=========================================*/
    /*============= OM OSS NEDANFÖR ===========*/
    /*=========================================*/

    .about-us-section {
        all: unset;
        text-align: center;
        font-size: 0.8em;
        padding-top: 40%;
    }

    .about-us-section h2 {
        margin-left: 8%;
        margin-right: 8%;
        line-height: 1.1;

    }
    .about-us-section h1 {
        font-size: 1.5em;;
        margin-left: 4%;
        margin-right: 4%;
    }
    .team-member {
        margin-left: 5%;
        margin-right: 10%;
    }

    .team-member li {
        margin-left: -20px;

    }
}
@media (max-width:600px) {
    /*=========================================*/
    /*============= ALLMÄNT NEDANFÖR ==========*/
    /*=========================================*/

    .navbar {
        display: none;
    }
    
    /*=========================================*/
    /*============= INDEX NEDANFÖR ===========*/
    /*=========================================*/
    .UnderTitle {
        font-size: 2em;
    }
    .welcome-text{
        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 50px; /* Justera detta värde efter behov */

    }

    .TextOchBilder {
        display: block;
    }
    .tjanster {
        font-size: 1.2em;
        margin-right: 15%;
        margin-left: 6%;
    }
    
    .bilder{
        display: block;
        margin-right: auto;
        margin-left: 10%;
    }
    
    
    .bilder img {
        width: 80%;
        padding: 5px;
        max-width: 200px;
        border-radius: 12px;
    }
    /*=========================================*/
    /*============= OM OSS NEDANFÖR ===========*/
    /*=========================================*/

    .about-us-section {
        padding-top: 40%;
        padding-left: 20%;
        padding-right: 20%;
        line-height: 1.6;
    }

    .team-member {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (min-width:601px) {
    /*=========================================*/
    /*============= ALLMÄNT NEDANFÖR ==========*/
    /*=========================================*/
    .navbar {
        display: none;
    }

    /*=========================================*/
    /*============= INDEX NEDANFÖR ===========*/
    /*=========================================*/

    .tjanster {
        min-width: 40%;
        margin-left: 10%;
        margin-right: 5%;
    }
    .bilder {
        margin-top: 1%;
        margin-right: auto;

    }
    .bilder img {
        max-width: 220px;
        margin-right: 5%;
        margin-top: 5%;
        border-radius: 12px;

    }
    .welcome-text{
        max-width: 640px;
        margin: 0 auto !important; 
        padding-left: 10%;
        padding-right: 10%;
    }
    .tjanster {
        margin-left: 5%;
    }

    /*=========================================*/
    /*============= OM OSS NEDANFÖR ===========*/
    /*=========================================*/

    .team-member {
        margin-left: 10%;
        margin-right: 10%;
    }

}

@media (min-width:768px) {
    /*=========================================*/
    /*============= ALLMÄNT NEDANFÖR ==========*/
    /*=========================================*/
    .navbar {
        display: flex;
        font-size: 0.85rem;
    }
    .dropdown {
        display: none;
    }

    /*=========================================*/
    /*============= INDEX NEDANFÖR ===========*/
    /*=========================================*/

    .main-content {
        all: unset;
    }
    
    .tjanster {
        all: unset;
        min-width: 40%;
        font-size: 1.4em;
        padding-left: 8%;
    }
    .bilder {
        margin-top: 1%;
        margin-right: 10%;
        margin-left: 10%;
        
    }
    .bilder img {
        max-width: 280px;
        margin-left: 5%;
        border-radius: 12px;
    }
    .welcome-text{
        max-width: 640px;
        margin: 0 auto !important; 
    }
    
    /*=========================================*/
    /*============= OM OSS NEDANFÖR ===========*/
    /*=========================================*/

}

@media (min-width:992px) {

    /*=========================================*/
    /*============= ALLMÄNT NEDANFÖR ==========*/
    /*=========================================*/

    .navbar {
        font-size: 1.2em;
    }

    /*=========================================*/
    /*============= INDEX NEDANFÖR ===========*/
    /*=========================================*/

    .tjanster {
        font-size: 1.2em;
        min-width: 40%;
        margin-left: 5%;
    }
    .bilder {
        margin-top: 1%;
        margin-right: 30%;

    }
    .bilder img {
        max-width: 280px;
        margin-left: 10%;
        border-radius: 12px;
    }
    .welcome-text{
        max-width: 640px;
        margin: 0 auto !important; 
    }

    /*=========================================*/
    /*============= OM OSS NEDANFÖR ===========*/
    /*=========================================*/

    .about-us-section {
        font-size: 1.3em;
        max-width: 800px;
    }

}  

@media (min-width:1200px) {
    /*=========================================*/
    /*============= ALLMÄNT NEDANFÖR ==========*/
    /*=========================================*/

    .tjanster {
        all: unset;
        min-width: 40%;
        margin-left: 10%;
        max-width: 600px;
        font-size: 1.5em;
    }

    /*=========================================*/
    /*============= INDEX NEDANFÖR ===========*/
    /*=========================================*/

    .TextOchBilder {
        
    }
    
    .bilder {
        all: unset;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 100px;
    }
    
    .bilder img {
        all: unset;
        margin-top: 10px;
        margin-left: 12px;
        
        max-width: 270px;
        border-radius: 8px;
        overflow: hidden; /* Lägg till overflow: hidden för att säkerställa att hörnen avrundas */
    }
    
    /*=========================================*/
    /*============= OM OSS NEDANFÖR ===========*/
    /*=========================================*/

    .about-us-section {
        font-size: 1.3em;
        max-width: 800px;
    }
    .team-member {
        margin: 20px auto;
        width:400px;
        height:400px;
        display:grid;
        grid-template-columns: 500px 500px;
        grid-row: auto auto;
        column-gap: 190px;
        justify-content: center;
    }
    .Ann, .Carl, .Lina, .Mans, .Monday {
    }

    .lankknapp {
    }
    .Ann, .Lina {
    }

    .Carl, .Måns{
    }

    .individuellText {
    }


}
